.button-learn-more {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	font-size: 28px;
	line-height: 110%;
	background-color: #fd6ba0;
	border-radius: 80px;
	padding: 13px 25px 13px 20px;
	// max-width: 250px;
	text-transform: initial;
	font-weight: 500;

	span {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: black;
		width: 56px;
		height: 56px;
		border-radius: 50%;
		color: white;
		box-shadow: rgba(80, 30, 71, 0.4) 0px 0px 2px 3px;
	}
}
