.slider-controls {
	&__buttons-wrapper {
		display: flex;
		gap: 10px;
	}

	&__arrow-button {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;

		&--left {
			transform: rotate(-180deg);
		}

		svg {
			height: 20px;
		}
	}

	&__dots-list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 10px;
	}

	&__dot-item {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__dot-button {
		width: 12px;
		height: 12px;
		border: 2px solid black;
		border-radius: 50%;
		background-color: transparent;
		opacity: 0;

		animation: dotNonActive 0.2s linear alternate forwards;
		@keyframes dotNonActive {
			0% {
				border: 2px solid transparent;
			}
			100% {
				border: 2px solid black;
				opacity: 1;
			}
		}

		&--active {
			border: none;
			opacity: 1;

			animation: dotActive 0.4s linear alternate forwards;
			@keyframes dotActive {
				0% {
					border: 1px solid black;
				}
				50% {
					border: 2px solid #fc6da9;
				}
				100% {
					border: none;
					background-color: #fc6da9;
				}
			}
		}
	}
}
